<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotRidesApplication.Properties.Settings.DB_Connect"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Briant\source\repos\HotRidesApplication\HotRidesApplication\HotRidesDB.mdf;Integrated Security=True" />
    </connectionStrings>
</configuration>